{#{% from "d3_labeled_edges_2.html" import showGraph%}#}
{% extends "layout.html" %}

{% block title %}
Question Answering Survey
{% endblock %}

{#{% block styles %}#}
{##}
{#{% endblock %}#}


{% block content %}
{#    class="top-pad"#}
  <div id="question" style="margin-left: 10px">
      <h3><b>Question</b>: <span style="font-size:18px;">{{ single_question.question }}</span></h3>
      <h3><b>Answers</b>: <span style="font-size:18px;">
      <p id ="answer_1"></p>
      <p id="answer_2"></p>
          </span></h3>

  </div>

    <fieldset style="border:3px; border-style:solid; border-color:#000000; padding: 1em; box-sizing: content-box; width: 350px;
 height: 250px; margin: 30px; word-wrap: break-word;">
    <legend>Interpretation:</legend>
    <p style="font-size: 15px;">
        {% if user.id%4 == 0 %}
            {{ single_question.controlledLanguage }}
        {% elif user.id%4 == 1 %}
            {{ single_question.sparqlQuery }}
        {% elif user.id%4 == 2 %}
            <div>
{#             <img src={{ imageFile}} >#}
{#             <p id="knowledge_graph"> {% include 'd3_labeled_edges_2.html' %}</p>#}
{#             {{ showGraph(nodes_links) }}#}
{#             <iframe src="{{ d3_url }}"></iframe>#}
{#             <iframe scrolling="no" style="border-style: hidden;width: 300px; height: 200px;" src="{{ url_for('d3_visualization', key = key) }}"></iframe>#}
                <iframe scrolling="no" src="{{ url_for('d3_visualization', key = key) }}" style="border: 0px none; margin-left: -430px; height: 500px; margin-top: -200px; width: 1000px;"></iframe>
            </div>
        {% elif user.id%4 == 3 %}
            {{ single_question.verbalized_answer }}
      {% endif %}
    </p>
    </fieldset>
    <div style="position: absolute; right: 100px; top: 200px;">
      <h3> Does the interpretation of the question sound correct to you?</h3>
      <p style="color:black;"><a href = {{ url_for('correct', key=key) }} > yes? please click here</a></p>
      <p style="color:black;"><a href = {{ url_for('wrong', key=key) }} > No? please click here</a></p>
      <h3> You can also skip this question</h3>
      <select id ="skip_reason">
          <option value=""></option>
          <option value="The question doesn't make sense">The question is not comprehensible</option>
          <option value="The interpretation doesn't make sense">The interpretation is not comprehensible</option>
          <option value="other">other</option>
      </select>
      <input type="text" style="width: 150px" id="skip_reason_other"/>
        <button id="skip_button">Skip</button>

  </div>
      {#<button style="margin-left: 50px; background-color:#4CAF50; color:white; padding:15px 32px; text-align:center; display: inline-block;"
              type="button" onclick="window.location.href='{{ url_for( 'question', key=key ) }}';"> Next Question </button>#}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v2.min.js?2.9.3"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>

<script>
    $(function () {
        var $skip_reason_other = $('#skip_reason_other'),
            $skip_reason = $('#skip_reason');
        $skip_reason_other.hide();
        $skip_reason.change(function () {
            if ($skip_reason.val() == 'other')
                $skip_reason_other.show();
            else
                $skip_reason_other.hide();
        })
        $('#skip_button').click(function () {
            if ($skip_reason.val() == '') {
                alert('Please select the reason');
                return false;
            } else if (($skip_reason.val() == 'other') && ($skip_reason_other.val() == '')) {
                alert('Please fill the reason');
                return false;
            }
            var reason = $skip_reason.val();
            if (reason == 'other')
                reason = $skip_reason_other.val()
            window.location.href = "{{ url_for('skip', key=key) }}?reason=" + reason;
        });
    });

    $(function answer_modifier() {

      var str = "{{ single_question.answer }}";
      var res = str.split(", ");
      var text_1 = "";
      var text_2 = "";
      if (res.length > 5) {
          for (i = 0; i < 5; i++) {
              text_1 += res[i] + " ";
          }
          for (i = 5; i < res.length; i++) {
              text_2 += res[i] + " ";
          }
          document.getElementById("answer_1").innerHTML = text_1;
          document.getElementById("answer_2").innerHTML = text_2;
      }
      else{
          document.getElementById("answer_1").innerHTML = "{{ single_question.answer }}";
      }


    });


    {#$(function () {
        var js_list = {{ nodes_links}}
    });#}
    {#function myFunction(arg1) {
        this.a = arg1
    }
    var x = new myFunction(1)#}
    {#document.getElementById("knowledge_graph").innerHTML = x.a;#}
{#var js_list = 1;
    document.getElementById("knowledge_graph").innerHTML = js_list

json = {"nodes":[], "links":[]}
{%for i in range(0, nodes_links[0]|length)%}
    json["nodes"].append({"name":{{ nodes_links[0][i] }}, "group": 1})
{% endfor %}#}
{#{% for i in range(0, my_links|length) %}
    {% for j in range(0, my_links[j]|length) %}
        json["links"].append({"source": my_links[i][0], "target": my_links[i][2], "weight": 1})
    {% endfor %}
{% endfor %}#}

</script>
{%- endblock scripts %}

